<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="On_Screen_Calipers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OnScreenCalipers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <On_Screen_Calipers.Properties.Settings>
            <setting name="LastPPMS" serializeAs="String">
                <value>0.3878326996197719</value>
            </setting>
            <setting name="LabelBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TicksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LabelFontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting3" serializeAs="String">
                <value />
            </setting>
        </On_Screen_Calipers.Properties.Settings>
        <OnScreenCalipers.Properties.Settings>
            <setting name="LastPPMS" serializeAs="String">
                <value>0.3878326996197719</value>
            </setting>
            <setting name="LabelBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TicksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LabelFontColor" serializeAs="String">
                <value />
            </setting>
        </OnScreenCalipers.Properties.Settings>
    </userSettings>
</configuration>